.button {
  display: flex;
  align-items: center;
  justify-content: center;
  
  padding: 0 20px;
  height: 50px;
  border-radius: 10px;

  font-size: 20px;
  user-select: none;
  cursor: pointer;
}

.label {
  margin-left: 10px;
  font-weight: 600;
}