[Unit]
Description=Jukebox Player
After=network.target

[Service]
Type=simple
User=jukebox
Group=jukebox
Restart=always
RestartSec=1
StartLimitIntervalSec=0
WorkingDirectory=/opt/jukebox
ExecStart=/usr/bin/python player.py

[Install]
WantedBy=multi-user.target