[Unit]
Description=OpenJukebox
After=network.target sound.target
ConditionUser=!root

[Service]
Type=simple
ExecStart=/usr/bin/openjukebox
Restart=on-failure

[Install]
WantedBy=default.target