.button {
  display: flex;
  align-items: center;
  justify-content: center;

  flex: 1;
  margin: 5px;

  background-color: #222e30;
  border: 2px solid #c2c2c2;
  border-radius: 10px;

  font-size: 50px;
  cursor: pointer;
}